html,body{
  font-family: 'Helvetica', serif;
  margin: 0em;
  padding: 0em;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #edeae5;
}

img{
  display: block;}
  .landscape{width:50vw;}
  .square{width:40vw;}
  .portrait{width:30vw;}
img:hover{
  cursor: pointer;
}

p{
  margin:0em;
  padding: 0em;
  font-size: .8em;}

a{
  text-decoration: none;
  border-bottom: 2px solid #000;
  color: #000;
}

.scroll-wrapper{
  width: 100vw;
  height: auto;
  /* overflow: scroll; */
  position: absolute;
}

.scroll-item{
  width:100vw;
  height: auto;
}
  .scroll-item > img{
    position: relative;
    z-index: 1 ;
  }
  .scroll-item > p{
    position: relative;
    float: right;
    padding:0 1em;
    z-index: 3;
  }
  .scroll-item > .text-area p{
    position: relative;
    z-index: 5 ;
  }
  .text-area{
    width: 100vw;
    height: 30vh;
    margin-top: 3em;

    /* position: absolute; */
  }
    .text-area p{display: inline-block;}
    .text-area p:first-child{
      width: 30vw;
      vertical-align: top;
      padding-bottom: .3rem;
      margin-left: 10vw;

      font-family: "Helvetica", serif;
      font-size: 2em;
      line-height: .9em;
    }
    .text-area p:nth-child(2){
      vertical-align: top;
      padding-bottom: .3rem;
      margin-left: 10vw;

      font-family: "Helvetica", serif;
      font-size: 1em;
      line-height: .9em;
    }
      .rebecca{
        font-family: "Garamond", serif;
        font-style: italic;
        font-size: 1.1em;
      }

    /* .text-area p:nth-child(2){
      width: 30vw;
      padding: 0em 1em;

      font-size: 1em;
      line-height: 1em;
    } */
  .no-offset{
    margin-top: 0vh;
  }

.text-area-footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 0 10vw;
}
  .text-area-footer p{
    padding: 1em 2em 1em 1em;
  }


.beads img{
  width: 100%;
}

#gallery-popup{
  height:100vh;
  width:100vw;
  margin: 0em;
  padding: 0em;

  overflow-x: scroll;
  overflow-y: hidden;
  position: fixed;
  z-index: 300;

  background: rgba(20, 13, 16, 0.9);
  color:rgb(255, 255, 255);
  font-family: 'Helvetica', serif;
}

#close-button{
  position: fixed;
  top: 0;
  right:0;
  z-index: 500;
}
#close-button:hover{
  cursor: pointer;
}
#close-button p{
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  margin: .5em .7em;
  border-bottom: 2px solid #fff;
  color: rgb(255, 255, 255);
}

/* helpers */
.heading-big{font-size: 5em;}
.heading-medium{font-size: 2em;}
.heading-small{font-size: 1.5em;}
.show{visibility: visible;}
