.video-wrapper{
  height: 100vh;
  white-space: nowrap;
  overflow: scroll;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  scroll-snap-type: x mandatory;
}

.video-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  scroll-snap-align: center;
}

.video-item:not(last-child){
  margin-right: .5em;
}

.video-item div, .gallery-item img{
  white-space: normal;
}

.video-caps{
  /* width: 0vw; */
}
.video-caps p{
  width: 30vw;
  padding:1em 5em 1em 1em;
  font-size: .8em;
}
.video-beads img{
  width: 5vw;
}

.video-number{padding: .5em;}
